*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}

.container{
    max-width:70vw;
    padding: 2rem 1rem; /*topbottom leftright*/
    margin:auto;
    
}

@media(max-width:1130px){
    .container{
        max-width: 80vw;
    }
}

a{
    text-decoration: none;
}


.header_container{
    margin-bottom: 2.8rem;
}

.header_title{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}
.header_desc{
    max-width: 760px;
    text-align: center;
    color: rgb(66, 66, 66);
    margin: auto;
}

.main_container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1,1fr);

}

@media(min-width:650px){
    .main_container{
        grid-template-columns: repeat(2,1fr);
    }
    
}
@media(min-width:1080px){
    .main_container{
        grid-template-columns: repeat(3,1fr);
    }
    
}

@media(min-width:1350px){
    .main_container{
        grid-template-columns: repeat(4,1fr);
    }
    
}



.card_container{
    display: flex;
    flex-direction: column;
    border:1px solid rgb(105, 103, 103);
    border-radius: 5px;
    overflow: hidden;
}

.card_image_container{
    position: relative;
    overflow: hidden;
    height: 12rem;
}

.random_image{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;

}

.card_title_container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.card_container:hover .random_image{
    transform: scale(1.1);
    transition-duration: 200ms;
}

.card_title{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
    color: rgb(20, 20, 20);
}
.card_title:hover{
    color: rgb(76, 76, 207);
}

.card_desc{
    color: rgb(44, 43, 43);
    font-size: 0.99rem;
}

.card_footer_container{
    padding:1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.author_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    gap: 0.4rem;
}
.author_avatar_container{
    height:2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(136, 135, 135);
    border-radius: 50%;
    background-color: rgb(198, 198, 198);
}
.author_avatar{
    
    padding: 0;
    margin: 0;
}

.author_info_container{
    display: flex;
    font-size: 0.8rem;
    flex-direction: column;
}
.author_name{
    color: blue;
}
.author_date{
    color: rgb(92, 92, 92);
}
.card_tag_container{
    border: 1px solid rgb(116, 115, 115);
    font-size: 0.9rem;
    border-radius: 5px;
    line-height: 1.4rem;
    padding: 0.25rem 0.5rem;
    height: 2rem;
    color: #3c3c3c;
 
}

